/* DESING SYSTEM

-- 01 TYPOGRAFY SYSTEM

- Font size system (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

- Line-height
  Default: 1
  h1,h2: 
  Medium: 
  Paragraf: 

  Letter space
  

-- 02 COLORS

- Primary: 
- Tints: 
- Shades: 
- Accents: 
- Greys:    

-- 03 SHADOWS

-- 04 BORDER-RADIUS


-- 05 WHITESPACE

- Spacing system (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Percentage from user's defaulte browser's font--size */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Variables for colors */
:root {
  --primary-color: #e29a24;
  --main-color: #3a3a3a;
  --main-dark-color: #111;
  --main-light-color: #888;
  --section-padding: 9.6rem 0;
}

body {
  color: var(--main-color);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

strong {
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* 
    *************************************
              GENERAL SETTINGS 
    *************************************
*/

.container {
  /* 1140px */
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.subtitle {
  font-size: 3.6rem;
  font-weight: 600;
}

.btn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  outline: none;
}
